name: Automatisation des tests
on: push
jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Compilation
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test
  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    concurrency:
      group: operations
    steps:
      - name: Test fonction add
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator add 10 5
  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    concurrency:
      group: operations
    steps:
      - name: Test fonction sub
        run: |
          pwd
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator add 3 -2
  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    concurrency:
      group: operations
    steps:
      - name: Test fonction mul
        run: |
          pwd
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator mul 5 5
  Test_Div:
    runs-on: ubuntu-latest
    needs: Compilation
    concurrency:
      group: operations
    steps:
      - name: Test fonction div
        run: |
          pwd
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator div 1 5
  Test_Car:
    runs-on: ubuntu-latest
    needs: Compilation
    concurrency:
      group: operations
    steps:
      - name: Test fonction car
        run: |
          pwd
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator car 5
